<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} {% endblock title %} - Tasker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="center-container">
            <a class="navbar-brand" href="/">Tasker</a>
        </div>
    </nav>

    {% block body %}

    {% endblock body %}

    <footer>abhigyannarayan100@gmail.com</footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>