{% extends 'base.html' %}
{% block title %} Edit {% endblock title %}

{% block body %}
<div class="container my-3">
  <h4>Add a Task</h4>
  <form action="/edit/{{task.id}}" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">Task Title</label>
      <input type="text" class="form-control" name="title" id="title" value="{{task.title}}" required aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Describe the task</label>
      <input type="text" class="form-control" name="desc" id="desc" value="{{task.desc}}"/>
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
{% endblock body %}